<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>СДАЙ ЕГЭ</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/лого.jpg') }}" type="image/x-icon" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sign-in.css') }}">
    <script src="{{ url_for('static', filename='js/add_task.js') }}"></script>
</head>
<body>
  <div class="container">
    <!-- Title section -->
    <div class="title">Добавление задачи</div>
    <div class="content">
      <!-- Registration form -->
      <form action="#" method="post">
        <div class="select-num">
          <div class="num">
            <label for="select-num">Номер:</label>
            <select name="select-num" id="select-num" required>
              <option value="" >-</option>
                {% for i in range(1,28) %}
                  <option value="{{ i }}">{{ i }}</option>
                {% endfor %}
            </select>
          </div>
        </div>

        <div class="user-details">
          <!-- Input for Email -->
          <div class="input-box">
              <label for="source" class="details">Источник</label>
              <input type="text" name="source" id="source" placeholder="Введите источник задачи" required>
          </div>
        </div>

        <div class="t-ar">
          <label for="task_text" class="details">Условие задачи:</label>
          <textarea rows="1" id="task_text" name="task_text" required></textarea>
        </div>

        <div class="user-details">
          <div class="input-box">
              <label for="right_answer" class="details">Правильный ответ(число):</label>
              <input type="text" name="right_answer" id="right_answer" placeholder="Введите правильный ответ на задачу" required>
          </div>
        </div>

        <div class="select-num">
            <label for="level">Сложность:</label>
            <select name="level" id="level" required>
              <option value="">-</option>
                {% for i in range(1,6) %}
                  <option value="{{ i }}" >{{ i }}</option>
                {% endfor %}
            </select>
        </div>

        <!-- Submit button -->
        <div class="button">
              <input type="submit" value="Добавить">
        </div>
      </form>
    </div>
  </div>
</body>
</html>