<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ТО "Объектив"</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/лого.jpg') }}" type="image/x-icon" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sign-in.css') }}">
</head>
<body>
  <div class="container">
    <!-- Title section -->
    <div class="title">Вход</div>
    <div class="content">
      <!-- Registration form -->
      <form action="#" method="post">
        <div class="user-details">
          <!-- Input for Email -->
          <div class="input-box">
            <label for="e-mail" class="details">Почта</label>
            <input type="email" name="email" id="email" placeholder="Введите свою почту" required>
          </div>
          <!-- Input for Password -->
          <div class="input-box">
            <label for="password" class="details">Пароль</label>
            <input type="password" name="password" id="password" placeholder="Введите пароль" required>
          </div>

        <!-- Submit button -->
        <div class="button" style="width: 100%; margin: 0.5em 10%;">
          <input type="submit" value="Войти">
        </div>
	<p style="color: red;"> {{ error }} </p>
      </form>
    </div>
  </div>
</body>
</html>
