<!DOCTYPE html>
<html lang="ru" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>СДАЙ ЕГЭ</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/лого.jpg') }}" type="image/x-icon" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sign-in.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.2.3/purify.min.js"></script>
  <script type="module">
    import { marked } from "https://cdn.jsdelivr.net/npm/marked/lib/marked.esm.js";
    document.querySelectorAll('.markdown').forEach((e) => {
      e.innerHTML = DOMPurify.sanitize(marked.parse(e.innerText));
    });
  </script>
  <style>
    .detail {
      margin: 0;
      padding-left: 5px;
      border: solid gold 3px;
      background-color: beige;
    }

    .back-button {
      position: fixed;
      top: 10px;
      left: 10px;
      background-color: #077B88;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      text-decoration: none;
      display: flex;
      align-items: center;
    }

    .back-button:hover {
      background-color: #055f66;
    }

    .back-button svg {
      margin-right: 5px;
    }
  </style>
</head>

<body>
  <a href="/" class="back-button">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
      viewBox="0 0 16 16">
      <path fill-rule="evenodd"
        d="M15 8a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 0 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 0 1 .708.708L2.707 7.5H14.5A.5.5 0 0 1 15 8z" />
    </svg>
    Вернуться на главную
  </a>

  <div class="container">
    <!-- Title section -->
    <div class="title">Регистрация</div>
    <div class="content">
      <!-- Registration form -->
      <form action="#" method="post">
        <div class="user-details">
          <!-- Input for Full Name -->
          <div class="input-box">
            <label for="name" class="details">Фaмилия</label>
            <input type="text" name="surname" id="surname" placeholder="Иванов" required>
          </div>
          <div class="input-box">
            <label for="name" class="details">Имя</label>
            <input type="text" name="name" id="name" placeholder="Иван" required>
          </div>
          <div class="input-box">
            <label for="name" class="details">Отчество</label>
            <input type="text" name="patronymic" id="patronymic" placeholder="Иванович" required>
          </div>
          <!-- Input for Email -->
          <div class="input-box">
            <label for="email" class="details">Почта</label>
            <input type="email" name="email" id="email" placeholder="Введите свою почту" required>
          </div>
          <!-- Input for Phone Number -->
          <div class="input-box">
            <label for="telephone" class="details">Номер телефона</label>
            <input type="tel" name="telephone" id="telephone" placeholder="Введите ваш номер телефона" required>
          </div>
          <div class="input-box">
            <label for="age" class="details">Сколько вам полных лет?</label>
            <input min="14" max="120" name="age" id="age" type="number" placeholder="От 14 до 120" required>
          </div>
        </div>
        <!-- Input for Password -->
        <div class="user-details">
          <div class="input-box">
            <label for="password" class="details">Пароль</label>
            <input type="password" name="password" id="password" placeholder="Введите пароль" required>
          </div>
          <!-- Input for Confirm Password -->
          <div class="input-box">
            <label class="details">Повтор пароля</label>
            <input type="password" placeholder="Повторно введите пароль" required>
          </div>
        </div>

        <fieldset style="border: none;">
          <legend>Ваша роль</legend>

          <div>
            <span class="meow">
              <input type="radio" id="student" name="role" value="student">
              <label for="student" style="display: inline;"> Ученик </label>
            </span>

            <span class="meow">
              <input type="radio" id="teacher" name="role" value="teacher">
              <label for="teacher"> Учитель </label>
            </span>
          </div>
        </fieldset>
        <!-- Submit button -->
        <div class="button">
          <input type="submit" value="Зарегистрироваться">
        </div>

      </form>
    </div>
  </div>
</body>

</html>