<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ТО "Объектив"</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/лого.jpg') }}" type="image/x-icon" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/sign-in.css') }}">
</head>
<body>
  <div class="container">
    <!-- Title section -->
    <div class="title">Регистрация</div>
    <div class="content">
      <!-- Registration form -->
      <form action="#" method="post">
        <div class="user-details">
          <!-- Input for Full Name -->
          <div class="input-box">
            <label for="name" class="details">Имя</label>
            <input type="text" name="name" id="name" placeholder="Введите ваше имя" required>
          </div>

          <!-- Input for Email -->
          <div class="input-box">
            <label for="e-mail" class="details">Почта</label>
            <input type="email" name="e-mail" id="e-mail" placeholder="Введите свою почту" required>
          </div>
          <!-- Input for Phone Number -->
          <div class="input-box">
            <label for="telephone" class="details">Номер телефона</label>
            <input type="tel" name="telephone" id="telephone" placeholder="Введите ваш номер телефона" required>
          </div>
        </div>
          <!-- Input for Password -->
          <div class="user-details">
          <div class="input-box">
            <label for="password" class="details">Пароль</label>
            <input type="password" name="password" id="password" placeholder="Введите пароль" required>
          </div>
          <!-- Input for Confirm Password -->
          <div class="input-box">
            <label class="details">Повтор пароля</label>
            <input type="password" placeholder="Повторно введите пароль" required>
          </div>
        </div>
        <div class="gender-details">
          <!-- Radio buttons for gender selection -->
          <input type="radio" name="gender-male" id="dot-1">
          <input type="radio" name="gender-female" id="dot-2">
          <label class="gender-title">Ваш пол:</label>
          <div class="category">
            <!-- Label for Male -->
            <label  for="dot-1">
              <span class="dot one"></span>
              <span class="gender">Мужчина</span>
            </label>
            <!-- Label for Female -->
            <label for="dot-2">
              <span class="dot two"></span>
              <span class="gender">Женщина</span>
            </label>
          </div>
        </div>
          <div class="input-box user-details">
              <label for="DateOfBirth" class="details">Ваша дата рождения:</label>
              <input id="DateOfBirth" min="1950-01-01"  max="2024-12-30" name="DateOfBirth" type="date" required>
          </div>
          <div class="input-box user-details">
              <label for="example" class="details">Примеры ваших фото:</label>
              <input id="example" name="example" type="file" required>
          </div>
          <div class="input-box user-details">
              <label for="url_messenger" class="details">Ссылка на вашу страничку в соц.сети:</label>
              <input id="url_messenger" name="url_messenger" type="url" required>
          </div>
          <div  class="input-box user-details">
              <label for="FavColor" class="details">Ваш любимый цвет:</label>
              <input id="FavColor" name="FavColor" type="color" required>
          </div>
          <div class="input-box user-details">
              <label for="level" class="details">Насколько вам нравится эта страничка?</label>
              <input id="level" name="level" type="range" required>
          </div>
          <div class="input-box user-details">
              <label for="age" class="details">Сколько вам полных лет?</label>
              <input name="age" id="age" type="number" required>
          </div>
        <!-- Submit button -->
        <div class="button">
          <input type="submit" value="Зарегистрироваться">
        </div>

      </form>
    </div>
  </div>
</body>
</html>